{{!< default}}
{{navigation}}
{{#post}}
<header class="jumboheader" style="background-image:url('{{{image}}}');">
</header>
<section class="main" role="post">

  <article role="article" itemscope itemtype="http://schema.org/Article">
    <h1 itemprop="headline">{{title}}</h1>
      <p class="post-date">Published on <time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished"><strong>{{date format='DD.MM.YYYY'}}</strong></time> - {{#if author}} by <strong>{{author.name}}</strong></p>

     <div class="share">
        <a class="icon-twitter" target="_blank" href="http://twitter.com/share?text={{title}}&amp;url={{url absolute="true"}}">
          <i class="fa fa-twitter fa-inverse"></i></a>
        <a class="icon-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}">
            <i class="fa fa-facebook fa-inverse"></i></a>
    </div>
    {{content}}
    {{#if tags}}
    <div class="tags">
      Tags: {{tags separator=" | "}}
    </div>
    {{/if}}
    <hr>
    {{/if}}
  </article>
  {{/post}}
  {{#if pagination}}{{{pagination}}}{{/if}}
</section>

{{> footer}}